<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.adsstudios.app"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>ADS studios app</name>

  <description>
      A Sales tracking app for ADS studios
  </description>

  <author href="https://adsstudios.com.ng" email="henry@adsstudios.com.ng">
      Henry Alabi
  </author>

</widget>
